/* EXTERNOS */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:ital,wght@0,300;1,700&display=swap");
/* MISC */
/* Variables */
/* Colores */
/* Spacings */
/* Font-family */
/* Font-sizes */
* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  font-weight: 800; }

/* PARTIALS */
/* Estilos header */
header {
  display: flex;
  height: 10rem;
  justify-content: space-between;
  background-color: #1755b1;
  align-items: center;
  padding: 1.4rem;
  width: 100%; }
  header div p {
    font-size: 5rem;
    font-weight: 600; }

nav a {
  font-weight: 600;
  text-decoration: none;
  color: black;
  width: 100%; }
  nav a:visited {
    color: #252525;
    border-bottom: solid 2px #252525; }
  nav a:hover {
    color: white;
    border-bottom: solid 2px white;
    padding: 10px 0px; }

.logo {
  display: flex;
  height: 90px;
  margin-right: 1.4rem; }
  .logo p {
    font-family: sans-serif;
    font-size: 4rem;
    display: inline-block; }

.enlaces {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: space-around;
  gap: 1.4rem;
  width: 100%;
  margin-right: 6rem; }

/*media header*/
@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    height: 9rem;
    width: 100%; }
  nav {
    padding: 1.4rem 0rem;
    width: 100%; }
    nav a {
      margin-bottom: 4rem; }
  .logo {
    display: flex;
    height: 20px;
    justify-content: center;
    height: 10px;
    margin-right: 6rem; }
    .logo img {
      height: 3rem; }
    .logo p {
      font-family: sans-serif;
      font-size: 2rem;
      align-items: center;
      display: inline-block; }
  .enlaces {
    display: flex;
    text-align: end;
    font-size: 0.7rem;
    width: 100%;
    gap: 1.4rem;
    margin-top: 1.4rem;
    margin-right: 1.4rem; } }

@media screen and (max-width: 480px) {
  header {
    display: flex;
    flex-direction: column;
    height: 8rem;
    width: 100%; }
  .enlaces {
    display: flex;
    text-align: end;
    font-size: 0.7rem;
    gap: 1rem;
    width: 100%;
    margin-top: 1.4rem;
    margin-right: 1rem; } }

/*Estilos footer*/
footer {
  display: flex;
  flex-direction: column;
  height: 11rem;
  background-color: #1755b1;
  font-family: "Source Sans Pro", sans-serif;
  justify-content: space-around;
  font-weight: 800;
  color: black; }
  footer div {
    margin-left: 1.4rem; }

/*media footer*/
@media screen and (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    height: 12rem;
    background-color: #1755b1;
    justify-content: space-around;
    align-items: center;
    font-weight: 600; } }

@media screen and (max-width: 480px) {
  footer {
    display: flex;
    flex-direction: column;
    height: 10rem;
    background-color: #1755b1;
    justify-content: space-around;
    align-items: center;
    font-weight: 600; } }

/* VIEWS */
.titulo, section h2, .subtitulo {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  font-size: 3rem;
  margin: 4rem;
  margin-bottom: 4rem;
  color: #4e4e4e; }

/*FLEXBOX*/
.destinos {
  font-size: 0.7rem;
  margin: 6rem;
  color: #4e4e4e;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  gap: 1.4rem; }
  .destinos img {
    width: 100%;
    border-radius: 18px; }

.img {
  transition: all .4s linear; }
  .img:hover {
    filter: brightness(0.4);
    transform: scale(1.1, 1.1); }

/*GRID GALLERY*/
.subtitulo {
  margin: 4rem; }

.grid-layout {
  font-family: "Source Sans Pro", sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 300px);
  justify-content: center;
  margin: 6rem;
  gap: 1rem; }

.grid-item1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-image: url(../multimedia/grid1.jpg); }

.grid-item2 {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  background-image: url(../multimedia/grid2.jpg);
  background-size: cover; }

.grid-item3 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-image: url(../multimedia/grid3.jpg); }

.grid-item4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-image: url(../multimedia/grid4.jpg); }

.grid-item5 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-image: url(../multimedia/grid5.jpg); }

.grid-item6 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  background-image: url(../multimedia/grid6.jpg); }

.grid-item7 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-image: url(../multimedia/grid7.jpg); }

.grid-item8 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  background-image: url(../multimedia/grid8.jpg); }

/*media form*/
@media screen and (max-width: 480px) {
  .formulario {
    font-size: 1rem;
    height: 16rem;
    width: 100%; } }

@media screen and (max-width: 768px) {
  .formulario {
    font-size: 1rem;
    height: 20rem;
    width: 100%; } }

/*media flex*/
@media screen and (max-width: 768px) {
  .destinos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem; }
    .destinos img {
      width: 100%; }
  section h2 {
    text-align: center;
    font-size: 2rem; } }

@media screen and (max-width: 480px) {
  .destinos {
    font-size: 1.2rem; }
    .destinos img {
      width: 100%; } }

/*media grid*/
@media screen and (max-width: 768px) {
  .subtitulo {
    font-size: 2rem; }
  .grid-layout {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(4, 200px);
    justify-content: center;
    margin: 6rem;
    gap: 0.7rem; }
    .grid-layout .grid-item1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2; }
    .grid-layout .grid-item2 {
      grid-column: 1 / 3;
      grid-row: 2 / 3; }
    .grid-layout .grid-item3 {
      grid-column: 2 / 3;
      grid-row: 1 / 2; }
    .grid-layout .grid-item4 {
      grid-column: 1 / 2;
      grid-row: 3 / 4; }
    .grid-layout .grid-item5 {
      grid-column: 2 / 3;
      grid-row: 3 / 4; }
    .grid-layout .grid-item6 {
      grid-column: 1 / 2;
      grid-row: 4 / 5; }
    .grid-layout .grid-item7 {
      grid-column: 2 / 3;
      grid-row: 4 / 5; } }

@media screen and (max-width: 480px) {
  .subtitulo {
    font-size: 1.2rem; }
  .grid-layout {
    display: grid;
    grid-template-columns: repeat(2, 160px);
    grid-template-rows: repeat(4, 160px);
    justify-content: center;
    gap: 0.5rem; }
    .grid-layout .grid-item1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2; }
    .grid-layout .grid-item2 {
      grid-column: 1 / 3;
      grid-row: 2 / 3; }
    .grid-layout .grid-item3 {
      grid-column: 2 / 3;
      grid-row: 1 / 2; }
    .grid-layout .grid-item4 {
      grid-column: 1 / 2;
      grid-row: 3 / 4; }
    .grid-layout .grid-item5 {
      grid-column: 2 / 3;
      grid-row: 3 / 4; }
    .grid-layout .grid-item6 {
      grid-column: 1 / 2;
      grid-row: 4 / 5; }
    .grid-layout .grid-item7 {
      grid-column: 2 / 3;
      grid-row: 4 / 5; } }

.subtitulo_vuelos {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
  margin: 4rem; }

.texto {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  margin: 6rem; }

@media screen and (max-width: 768px) {
  .subtitulo_vuelos {
    font-family: "Roboto", sans-serif;
    font-size: text-base;
    margin: 1rem; } }

.destinos_internacionales, .destinos_nacionales {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  gap: 1.4rem;
  margin: 6rem; }
  .destinos_internacionales-img {
    border-radius: 18px;
    width: 100%;
    gap: 4rem;
    transition: all .3s linear; }
  .destinos_internacionales-img:hover {
    transform: scale(1.1 1.1);
    filter: brightness(0.4); }

section h2 {
  font-size: 3rem; }

.destinos_nacionales {
  margin-bottom: 6rem; }
  .destinos_nacionales-img {
    border-radius: 18px;
    width: 100%;
    gap: 4rem;
    transition: all .3s linear; }
  .destinos_nacionales-img:hover {
    transform: scale(1.1 1.1);
    filter: brightness(0.4); }

@media screen and (max-width: 768px) {
  .destinos_internacionales, .destinos_nacionales {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    gap: 1rem; }
  .destinos_nacionales {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    gap: 1rem; } }

.viajes {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  gap: 1.4rem;
  margin: 6rem; }
  .viajes_img {
    border-radius: 18px;
    width: 100%;
    gap: 4rem;
    transition: all .3s linear; }
  .viajes_img:hover {
    transform: scale(1.1 1.1);
    filter: brightness(0.4); }

/* Media */
@media screen and (max-width: 768px) {
  .viajes {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    gap: 1rem; } }

.hoteles {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  gap: 6rem;
  margin: 6rem; }
  .hoteles_img {
    width: 100%;
    border-radius: 16px;
    gap: 4rem; }

.titulo_hotel {
  text-align: center; }

.parrafo {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
  text-align: center;
  margin: 6rem; }

/* Media Q */
@media screen and (max-width: 768px) {
  .hoteles {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    gap: 1rem; }
  .parrafo {
    font-size: 1rem;
    margin-bottom: 4rem; } }

@media screen and (max-width: 480px) {
  .hoteles {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    gap: 1.4rem; } }
