.viajes{
    @include flex(row, center, space-around, $spacing-xsmall);
    margin: $spacing-large;
        &_img{
            border-radius: 10px;
            width: 100%;
            gap: $spacing-small;
            transition: all .3s linear;
            box-shadow: 0px 15px 25px rgba($color: #0a0a0a, $alpha: 1.0);
        }
        &_img:hover{
            transform: scale(0.9);
            filter: brightness(.4);      
        }
}
/* Media */
@media screen and (max-width: 768px){
    .viajes{
        @include flex(column, center, space-around, $spacing-u-small);
    }   
}
