.destinos_internacionales{
    @include flex(row, center, space-around, $spacing-xsmall);
    margin: $spacing-large;
        &-img{
            border-radius: 10px;
            width: 100%;
            gap: $spacing-small;
            transition: all .3s linear;
            box-shadow: 0px 15px 25px rgba($color: #0a0a0a, $alpha: 1.0);
        }
        &-img:hover{
            transform: scale(0.9);
            filter: brightness(.4);
        }
}     
section h2{
    font-size: $text-large;
}
.destinos_nacionales{
    @extend .destinos_internacionales;
    margin: $spacing-large;
        &-img{
            border-radius: 10px;
            width: 100%;
            gap: $spacing-small;
            transition: all .3s linear;
            box-shadow: 0px 15px 25px rgba($color: #0a0a0a, $alpha: 1.0);
        }
        &-img:hover{
            transform: scale(0.9);
            filter: brightness(.4);
        }
}  
@media screen and (max-width: 768px){
    .destinos_internacionales{
        @include flex(column, center, space-around, $spacing-u-small);
    }
    .destinos_nacionales{
        @include flex(column, center, space-around, $spacing-u-small);
    }
}