/* Variables */

/* Colores */
$colors: (
    primary:  #1755b1,
    color-text: #4e4e4e,
    color-textdark: black, 
    color-hover: white,
    color-visited: #252525
);
/* Spacings */
$spacing-large: 8rem;
$spacing-medium: 6rem;
$spacing-small: 4rem;
$spacing-xsmall: 1.4rem;
$spacing-u-small: 1rem;
$spacing-p: 1rem 8rem 4rem 8rem;
$spacing-psmall: 10px 0px;  
$spacing-none: 0rem;
/* Font-family */
$font-principal: 'Source Sans Pro', sans-serif;
$font-secondary: 'Roboto', sans-serif;
/* Font-sizes */
$text-xlarge: 5rem;
$text-large: 3rem;
$text-medium: 2rem; 
$text-base: 1.2rem;
$text-small: 1rem;
$text-xsmall: 0.7rem; 

